/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
/* ==== ROOT RESET ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ==== CSS VARIABLES ==== */
:root {
    --primary-color: #335eea;
    --link-color: #506690;
    --btn-hover-color: #2b50c7;
    --lg-heading: #161c2d;
    --text-content: #869ab8;
    --fixed-header-height: 4.5rem;
}

/* ==== RESET HTML ==== */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* background-color: black; */
    /* height: 100vh; */
}

ul {
    width: 100vw;
    display: flex;
    gap: 40px;
    justify-content: center;
}

ul li {
    list-style-type: none;
    cursor: pointer;
}
a {
    text-decoration: none;
}

/* ==== NAV ==== */
.nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* ==== LOGO ==== */
.logo h2 {
    font-size: 28px;
    color: var(--primary-color);
}
/* ====  NAV-MENU  ==== */
.nav_menu_list {
    display: flex;
    align-items: center;
}
.nav_menu_list .nav_menu_item {
    margin: 0 2rem;
}
.nav_menu_item .nav_menu_link {
    font-size: 16.5px;
    line-height: 27px;
    color: var(--link-color);
    text-transform: capitalize;
    letter-spacing: 0.5px;
}
.nav_menu_link:hover {
    color: var(--primary-color);
}
