body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile {
    padding: 20px 40px;
    border-radius: 10px;
    border: 1px solid black;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    cursor: pointer;
}

.image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
