body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}

.btn {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #d5f365;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover {
    box-shadow: 7px 5px 56px -14px #c3d900;
}

.btn:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #c3d900;
}
