/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
/* ==== ROOT RESET ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ==== CSS VARIABLES ==== */
:root {
    --primary-color: #335eea;
    --link-color: #506690;
    --btn-hover-color: #2b50c7;
    --lg-heading: #161c2d;
    --text-content: #869ab8;
    --fixed-header-height: 4.5rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.info-text {
    margin-top: 1.5rem;
    font-size: 19px;
    line-height: 28px;
    color: #334157;
}
